@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgb(0, 149, 224);
}

body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(98, 255, 0);
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgb(37, 37, 37);
}

.text_shadow {
  text-shadow: 2px 1px 20px rgba(0, 255, 0, 0.598);
}

.remove-scroll-edge::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.like-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotate 1000ms linear infinite;
}

.image-loader {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: transparent;
  backdrop-filter: blur(3px);
  animation: rotate 1000ms linear infinite;
  display: flex;
  justify-content: center;
}

.spinner {
  animation: rotate 800ms linear infinite;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#root::-webkit-scrollbar {
  width: 0.5px;
}

#root {
  width: 100%;
}

.appear {
  transform: scaleY(1);
  transform-origin: top;
  animation: appear 0.3s ease-in-out;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.disappear {
  transition: ease-in;
  animation: disappear 0.3s ease;
  display: none;
}
.defaultProfile {
  background-image: url("./Assets/bloggy.png");
  background-size: cover;
  opacity: 0.8;
  border-radius: 40%;
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
}

.slowAndSteady {
  animation: slow 0.6s ease linear infinite;
}

@keyframes slow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hoverImage:has(img:hover) {
  scale: 0.9;
  opacity: 0.7;
}

.customfileButton {
  color: transparent;
}

.customfileButton::-webkit-file-upload-button {
  visibility: hidden;
}

.customfileButton::before {
  font-family: novaSquare, sans-serif;
  content: "choose an avatar 👆";
  display: inline-block;
  color: whitesmoke;
  border-radius: 3px;
  padding: 1px 1px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 1em;
  background-color: rgb(22, 22, 22);
}
