@tailwind base;
@tailwind components;
@tailwind utilities;

.text_shadow {
  text-shadow: 2px 1px 20px rgba(0, 255, 0, 0.598);
}

.remove-scroll-edge::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.like-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  border-top: transparent;
  animation: rotate 1000ms linear infinite;
}

.image-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  border-bottom: transparent;
  backdrop-filter: blur(3px);
  animation: rotate 1000ms linear infinite;
  display: flex;
  justify-content: center;
}

.spinner {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  border: 4px solid #ffffff;
  border-left: transparent;
  border-top: 2px solid transparent;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: rotate 800ms linear infinite;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#root::-webkit-scrollbar {
  width: 0.5px;
}

#root {
  width: 100%;
}

.appear {
  transform: scaleY(1);
  transform-origin: top;
  animation: appear 0.3s ease-in-out;
}
@keyframes appear {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.disappear {
  transition: ease-in;
  animation: disappear 0.3s ease;
  display: none;
}
.defaultProfile {
  background-image: url(/public/defaultProfile.jpg);
  background-size: cover;
  opacity: 0.8;
  border-radius: 40%;
  height: 10em;
  width: 10em;
  display: flex;
  justify-content: center;
}
